{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">signup</h1>
            <p class="lead fw-normal text-white-50 mb-0">create account </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="cod-8">
                
                    <form method="POST" action="{% url 'signup'%}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <br><br>
                        <button type="submit" class="btn btn-primary">signup</button>
                      </form>
                      

            </div>
        </center>

    </div>

</div>

{%endblock%}
